.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #4452f2;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 110px;
  }
  
  input[type="submit"]:hover {
    background:black;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color:rgb(205, 239, 251);
    padding: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    color: black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-self: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .input-container {
    display: flex;
    color: black;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .img1 {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 120px;
    width: 140px;
  }

  .inputun{
    font-size:15px;
  }